.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "section aside"
        "article aside"
        "footer footer";
    gap: 20px;
    padding: 20px;
    background-color: black;

    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #3a3fbf;
    text-align: center;
    color: white;
}

.nav {
    grid-area: nav;
    background-color: #2dbcc6;
    text-align: center;
}

.section {
    grid-area: section;
    background-color: #f1c40f;
    text-align: center;
}

.article {
    grid-area: article;
    background-color: #e67e22;
    text-align: center;
}

.aside {
    grid-area: aside;
    background-color: #ecf0f1;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #3a3fbf;
    text-align: center;
    color: white;
}